body {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.cont {
    display: flex;
    flex-direction: column;
    background-color: gray;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.images {
    display: flex;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.name {
    display: flex;
}

input {
    width: 100px;
    height: 40px;
    color: black;
    background-color: red;
    border-radius: 20px;
    margin: 30px;
}

button { background-color: green;
    color: black; 
border-radius:10px ;}

.black {
    display: flex;
    justify-content: left;
    width: 100%;
}

.blackColor{
    background-color: black; 
    width: 100px;
    height: 100px;
    margin: 20px;
}